@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;	
}

:root{
--white:rgb(255,255,255);
--light-gray:rgb(214,226,240);
--grayish-blue:rgb(123,135,157);
--dark-blue:rgb(31,50,81);	
}

body{
  background-color:var(--light-gray);
  font-family:'Outfit', sans-serif;
  padding:20px 0;	
}

.card{
  max-width:230px;
  height:360px;
  background-color:var(--white);
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom:10px;
  text-align:center;
  padding:20px 15px;
  border-radius:10px;

}

.card__img{
  width:100%;
  max-height:200px;
  display:block;
  object-fit:cover; 
  border-radius:5px;
}

.card__title{
  margin-top:14px;
  margin-bottom:15px;
  color:var(--dark-blue);
  font-size: 15px;
  font-weight:bold;
}

.card__paragraph{	
  color:var(--grayish-blue);
  line-height:1.5;
  font-size:12px;
  margin:2px 1px;	
}

.attribution {
  font-size:11px;
  text-align: center;
  margin: 2.7rem auto;
  line-height: 1.5;
}

.attribution a {
  color: hsl(228, 45%, 44%); 	
}

@media (max-width:400px) {
  
  .card	{
  margin: 5px auto;	
  }
}